<!-- views/partials/navbar.handlebars -->

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Rotten Potatoes</a>
  <div class="margin-right-auto">
    <a href="/reviews/new" class="btn btn-secondary navbar-btn">New Review</a>
  </div>
</nav>
